body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Ford";
  src: url(./fonts/Ford-Antenna-Light.ttf);
}

@font-face {
  font-family: "Effra_regular";
  src: url(./fonts/Effra_Std_Rg.ttf);
}

@font-face {
  font-family: "Effra_light";
  src: url(./fonts/Effra_Std_Lt.ttf);
}

@font-face {
  font-family: "Bangers";
  src: url(./fonts/Bangers-Regular.ttf);
}
